# Git
.git
.gitignore

# Dokumen
README.md
*.md

# Log dan Env
*.log
.env
.env.*

# Binary build
/service
*.out
*.exe

# Build & vendor (jika pakai Go modules)
bin/
build/
vendor/
tmp/

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Docker-related (kalau tidak mau masuk ke dalam image)
Dockerfile
docker-compose.yml
